<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: rgb(14, 14, 46);
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
            font-family: "Open Sans", sans-serif;
        }
        .container {
            max-width: 600px;
            width: 90%;
            background: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            text-align: center;
            color: #333;
            margin-top: 0;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .form-group input, .form-group textarea, .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            width: 100%;
            margin-top: 10px;
        }
        button:hover {
            background-color: #0056b3;
        }
        .back-link {
            display: block;
            text-align: center;
            margin-top: 20px; 
            background: #000;
            color: white;
            text-decoration: none;
            font-weight: 400;
            width: 500px;
            padding: 9px;
        }
        .back-link:hover {
            text-decoration: none;
            background: #000;
            color: white;
        }

        @media (max-width: 768px) {
            .container {
                margin: 10px;
            }
        }
    </style>
</head>
<body>
    <div class="container">    
        <a href="javascript:history.back()" class="back-link">Go Back</a>

        <h1>Edit Task</h1>
        <form action="/tasks/edit/<%= task._id %>" method="post"  enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="fileReceivedDate">File Received Date:</label>
                <input type="date" id="fileReceivedDate" name="fileReceivedDate" value="<%= task.fileReceivedDate ? task.fileReceivedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="name">Task type</label><div>
                    <select name="name" id="name">
                        <option value="" disabled <%= !task.name ? 'selected' : '' %>>Select</option>
                        <% 
                            const taskOptions = [
                                "None", "SELLER PP PENDING", "BUYER PP PENDING", "SELLER CARs SEEN PENDING", 
                                "BUYER CAR SEEN PENDING", "TRANSFER COMPLETED", "NOC TO BE ISSUED", 
                                "DOCS PENDING", "CHALLAN PENDING", "HPA ENDORSEMENT PENDING", "FILE IN RTO_(No Pendency)", 
                                "FILE TO BE RETURNED", "RTO NOT FUNCTIONING", "HSRP NOT UPDATED", 
                                "EURO MODIFICATION PENDING", "FILE HOLD BY CLIENT", "FILE ALLOCATION_PENDING", 
                                "HPT MAIL PENDING SELLER", "NOC ISSUED PICKUP PENDING", "CAR SEEN PENDING BUYER", 
                                "CAR SEEN PENDING SELLER", "SELLER VIDEO LETTER HEAD PENDING", 
                                "SELLER DELAY PP", "BUYER DELAY PP", "SELLER VIDEO PENDING LHEAD RECEIVED", 
                                "STUCK CASE", "FILE IN TRANSIT", "SELLER NOT RESPONDING", 
                                "NOT REACHABLE SWITCH OFF PP PENDING", "SELLER NOT ALIGNED FOR PP", 
                                "NOT ALIGNED BUYER CAR SEEN", "BUYER NOT ALIGNED FOR PP", "CARE OF VIDEO PENDING", 
                                "SELLER DEATH CASE", "WO BUYER CAR VIDEO PENDING", "NOC IN CORRECTION", 
                                "NO UPDATE APPROVAL PENDING CLIENT", "BLACKLIST", "FILE FNT", "TAX PENDING", 
                                "SELLER PP ALIGNED", "BUYER PP ALIGNED", "BUYER CAR SEEN ALIGNED", 
                                "SELLER VIDEO CALL ALIGNED", "FILE RETURNED", "HPA MAIL PENDING BUYER", 
                                "CNG CASE", "DD to be added"
                            ];
                    
                            taskOptions.forEach(option => { 
                        %>
                            <option value="<%= option %>" <%= task.name === option ? 'selected' : '' %>><%= option %></option>
                        <% }); %>
                    </select>
            </div>
            <div class="form-group">
                <label for="carNum">Car Number:</label>
                <input type="text" id="carNum" name="carNum" value="<%= task.carNum %>">
            <div class="form-group">
                <label for="clientName">Client Name:</label>
                <input type="text" id="clientName" name="clientName" value="<%= task.clientName %>">
            </div>
            <div class="form-group">
                <label for="caseType">Case Type:</label>
                <input type="text" id="caseType" name="caseType" value="<%= task.caseType %>">
            </div>
                <div class="form-group">
                    <label for="hptName">HPT Name:</label>
                    <select name="hptName" id="hptName" class="finp">
                        <option value="" disabled <%= !task.hptName ? 'selected' : '' %>>Select</option>
                        <% 
                            const hptOptions = [
                                "None", "Indusind Bank LTD", "RBL Bank LTD","Development Cooperative pvt LTD",  "Muthoot Capital Services LTD", 
                                "Capital cars PVT LTD", "Punjab National Bank", "Tata Capital Limited", 
                                "AU Small Finance Bank Limited","BANK OF INDIA", "Bajaj Finance LTD", "BANDHAN BANK LTD", 
                                "Mahindra & Mahindra Financial Services LTD", "Vastu finserve India PVT LTD", 
                                "Piramal Capital & Housing", "Poonawalla Fincorp LTD", "IDFC First Bank LTD", 
                                "Bajaj Finserv Limited", "HDB Financial Services LTD", "Yes Bank LTD", 
                                "AEON CREDIT SERVICES", "Kotak Mahindra Bank LTD", "Kotak Mahindra Prime LTD", 
                                "IDBI Bank LTD", "State Bank of India","TATA MOTORS FINANCE LTD", "Axis Bank LTD", "NISSAN RENAULT FIN. SER IND. PVT. LTD.",
                                "Cholamandalam Investment & Finanace Co.LTD", "Union Bank of India","TATA MOTORS FINANCE LTD",
                                "ICICI Bank LTD", "Shriram Finance Limited", "Kogta Financial India LTD", 
                                "Manappuram Finance LTD", " NISSAN RENAULT FIN. SER IND. PVT. LTD.","Hinduja Leyland Finance LTD", "HDFC Bank LTD", 
                                "Cars24 Financial Services PVT LTD","ORIX AUTO IRFRASTRACTURE SERV LTD", "Spinny Capital LTD", "Bank of Baroda", 
                                "Hero Fincorp LTD", "Toyota Financial Services India LTD", "Gulshan bank", "GULSHAN MERCANTILE URBAN CO-OPERATIVE BANK", "INDIAN OVERSEAS BANK" ,
                                "CANARA BANK Punjab","Punjab sindh bank","THE NEW INDIA ASSURANCE CO.LTD.",
                                "CENTRAL BANK OF INDIA","UCO BANK","GAIL (INDIA)LTD", "Sindh Bank" , "THE NEW INDIA ASSURANCE CO.LTD" , "CENTRAL BANK OF INDIA" ,
                                "INDIAN OVERSEAS BANK" , "INDOSTAR CAPITAL FINANCE LIMITED", "L&T finance" , "Allahabad bank", "DD to be added"
                            ];
                
                            hptOptions.forEach(option => { 
                        %>
                            <option value="<%= option %>" <%= task.hptName === option ? 'selected' : '' %>><%= option %></option>
                        <% }); %>
                    </select>
            </div>
            </div>
            <div class="form-group">
                <label for="chesisnum">Chesis Number:</label>
                <input type="text" name="chesisnum" id="chesisnum" value="<%= task.chesisnum %>">
            </div>
            <div class="form-group">
                <label for="engineNum">Engine Number:</label>
                <input type="text" name="engineNum" id="engineNum" value="<%= task.engineNum %>">
            </div>
            <div class="form-group">
                <label for="sellerAlignedDate">Seller Aligned Date:</label>
                <input type="date" id="sellerAlignedDate" name="sellerAlignedDate" value="<%= task.sellerAlignedDate ? task.sellerAlignedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="buyerAlignedDate">Buyer Aligned Date:</label>
                <input type="date" id="buyerAlignedDate" name="buyerAlignedDate" value="<%= task.buyerAlignedDate ? task.buyerAlignedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="sellerppstatus">Seller Party-peshi status:</label>
                <select name="sellerppstatus" id="sellerppstatus" class="form-control">
                    <option value="" disabled selected>Select</option>
                    <% 
                        const sellerppStatusOptions = [
                            "NONE", "SELLER PP ALIGNED", "SELLER PP PENDING", "W/O SELLER VIDEO",
                            "SELLER PP NOT REQUIRED", "CAR SEEN PENDING SELLER", "CAR SEEN DONE SELLER",
                            "SELLER NOT ALIGNED", "SELLER CAR SEEN ALIGNED", "SELLER PP DONE"
                        ];
                        sellerppStatusOptions.forEach(option => { 
                    %>
                        <option value="<%= option %>" <%= task.sellerppstatus === option ? 'selected' : '' %>><%= option %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="buyerppstatus">Buyer Party-peshi status:</label>
                <select name="buyerppstatus" id="buyerppstatus" class="form-control">
                    <option value="" disabled selected>Select</option>
                    <% 
                        const buyerppStatusOptions = [
                            "NONE", "BUYER PP ALIGNED", "BUYER PP PENDING", "W/O BUYER VIDEO",
                            "BUYER PP NOT REQUIRED", "CAR SEEN PENDING BUYER", "BUYER NOT ALIGNED FOR PP",
                            "CAR SEEN DONE BUYER", "BUYER_CAR_SEEN_ALIGNED", "NOT ALIGNED BUYER CAR SEEN",
                            "W/O CAR SEEN", "BUYER PP DONE", "NOC TO BE ISSUED", "PHYSICAL NOC IN TRANSIT",
                            
                        ];
                        buyerppStatusOptions.forEach(option => { 
                    %>
                        <option value="<%= option %>" <%= task.buyerppstatus === option ? 'selected' : '' %>><%= option %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="spoc">SPOC:</label>
                <select name="spoc" id="spoc" class="form-control">
                    <option value="" disabled selected>Select</option>
                    <% 
                        const spocOptions = [
                            "ankur.2", "shradha.panday", "Sehrawat", "kamaljeet.1", "dileep.yadav", 
                            "Avijit", "Priyam", "Sunny Manocha", "Diksha", "SURAJ", "SUNIL", "VIKAS RAI", 
                            "SUBHAM", "VIKAS SHARMA", "FAZIL", "SAMEER", "MANOJ", "sukhwant", "SUSHIL KUMAR", 
                            "Kanhiaya Kumar", "Anurag", "Ritesh Nandan", "Habibi Motors", "Vipin Delhi", 
                            "Rohit Up11", "NX car (Munendra)", "Neeraj Sachdev", "Switch My Loan (Ajit)", 
                            "Nikhil Gonda", "Akhil", "Deepak (Puneet)", "Vikas Pandey", "Gurvinder singh bagga", 
                            "Pankaj Kohli", "kuldeep singh", "Vivek", "gaurav kumar DUBEY", "Deepak (Cars24)", 
                            "Nitin Agarwal (RJ)", "OLX_MANES", "Agrowheels_RJ(Sachin)"
                        ];
                        spocOptions.forEach(option => { 
                    %>
                        <option value="<%= option %>" <%= task.spoc === option ? 'selected' : '' %>><%= option %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="NOCissuedDate">NOC Issued Date:</label>
                <input type="date" id="NOCissuedDate" name="NOCissuedDate" value="<%= task.NOCissuedDate ? task.NOCissuedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="NOCreceivedDate">NOC Received Date:</label>
                <input type="date" id="NOCreceivedDate" name="NOCreceivedDate" value="<%= task.NOCreceivedDate ? task.NOCreceivedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="courier">Courier done Date:</label>
                <input type="date" name="courier" id="courier" value="<%= task.courier ? task.courier.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="deliverdate">Deliver Date:</label>
                <input type="date" name="deliverdate" id="deliverdate" value="<%= task.deliverdate ? task.deliverdate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="AdditionalWork">Additional Work:</label>
                <input type="text" id="AdditionalWork" name="AdditionalWork" value="<%= task.AdditionalWork %>">
            </div>
            <div class="form-group">
                <label for="HPA">HPA:</label>
                <select name="HPA" id="HPA" class="finp">
                    <option value="" disabled <%= !task.HPA ? 'selected' : '' %>>Select</option>
                    <% 
                        const hpaOptions = [
                            "None", "Indusind Bank LTD", "RBL Bank LTD", "Muthoot Capital Services LTD", 
                            "Capital cars PVT LTD", "Punjab National Bank","Development Cooperative pvt LTD", "Tata Capital Limited", 
                            "AU Small Finance Bank Limited", "Bajaj Finance LTD", "Mahindra & Mahindra Financial Services LTD", 
                            "Vastu finserve India PVT LTD", "Piramal Capital & Housing", "Poonawalla Fincorp LTD", 
                            "IDFC First Bank LTD", "Bajaj Finserv Limited", "HDB Financial Services LTD", 
                            "Yes Bank LTD", "AEON CREDIT SERVICES", "Kotak Mahindra Bank LTD", "NISSAN RENAULT FIN. SER IND. PVT. LTD.",
                            "Kotak Mahindra Prime LTD","ORIX AUTO IRFRASTRACTURE SERV LTD", "IDBI Bank LTD", "State Bank of India", 
                            "Axis Bank LTD", "Allahabad bank", "Cholamandalam Investment & Finance Co.LTD", 
                            "Union Bank of India", "ICICI Bank LTD","BANK OF INDIA", "Shriram Finance Limited", 
                            "Kogta Financial India LTD"," NISSAN RENAULT FIN. SER IND. PVT. LTD", "Manappuram Finance LTD", "Hinduja Leyland Finance LTD", 
                            "HDFC Bank LTD", "Cars24 Financial Services PVT LTD", "Spinny Capital LTD", 
                            "Bank of Baroda","Punjab sindh bank","THE NEW INDIA ASSURANCE CO.LTD.","TATA MOTORS FINANCE LTD",
                            "CENTRAL BANK OF INDIA","UCO BANK","GAIL (INDIA)LTD", "BANDHAN BANK LTD", "Hero Fincorp LTD", "Toyota Financial Services India LTD", 
                            "Gulshan bank", "GULSHAN MERCANTILE URBAN CO-OPERATIVE BANK", "INDIAN OVERSEAS BANK" ,
                            "CANARA BANK Punjab", "Sindh Bank" ,"INDOSTAR CAPITAL FINANCE LIMITED", "THE NEW INDIA ASSURANCE CO.LTD" , "CENTRAL BANK OF INDIA" ,
                            "INDIAN OVERSEAS BANK" , "L&T finance" ,"DD to be added"
                        ];
            
                        hpaOptions.forEach(option => { 
                    %>
                        <option value="<%= option %>" <%= task.HPA === option ? 'selected' : '' %>><%= option %></option>
                    <% }); %>
                </select>
            </div>
            
            <div class="form-group">
                <label for="transferDate">Transfer Date:</label>
                <input type="date" id="transferDate" name="transferDate" value="<%= task.transferDate ? task.transferDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="HandoverDate_RC">RC Handover Date:</label>
                <input type="date" id="HandoverDate_RC" name="HandoverDate_RC" value="<%= task.HandoverDate_RC ? task.HandoverDate_RC.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="HandoverDate_NOC">NOC Handover Date:</label>
                <input type="date" id="HandoverDate_NOC" name="HandoverDate_NOC" value="<%= task.HandoverDate_NOC ? task.HandoverDate_NOC.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="status_RC">RC status:</label>
                <select name="status_RC" id="status_RC"> 
                    <option value="" disabled selected>Select</option>
                    <% 
                        const rcStatusOptions = [
                            "RC Delivered To Client", "RC Pending From RTO Vendor", "NOC Pending From Vendor", 
                            "NOC Delivered To Client", "NOT APPLICABLE", "RC Received (In Office - NCR)", 
                            "NOC Received (In Office - NCR)", "RC Handover To Buyer By Vendor", 
                            "RC TRANSFER PENDING YET", "RC Handover To Buyer (By Vahan Help)", 
                            "RC Received (In Office - LKO)", "NOC Received (In Office - LKO)", "DD to be added"
                        ];
                        rcStatusOptions.forEach(option => { 
                    %>
                        <option value="<%= option %>" <%= task.status_RC === option ? 'selected' : '' %>><%= option %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="status_NOC">NOC status:</label>
                <select name="status_NOC" id="status_NOC">
                    <option value="" disabled selected>Select</option>
                    <% 
                        const nocStatusOptions = [
                            "NOC IN OFFICE_BUYER PP PENDING", "NOC ISSUED_PICKUP PENDING", 
                            "NOC SHARED WITH (TO) VENDOR", "NOC RECEIVED",
                            "RETURNED TO THE VENDOR FOR CORRECTION", "NOC RECEIPT PENDING", 
                            "AT_DOCS UPLOAD PENDING", "AT_INWARD", "AT_VERIFICATION", "AT_APPROVAL", "NOC ISSUED", 
                            "NOC NOT APPLICABLE_SAME RTO", "WRONG RTO NOC ISSUED", "NOC_ALREADY ISSUED BY CLIENT", 
                            "NOC_RECEIPT ALREADY ISSUED BY CLIENT", "Case Type Change(16,32,70)-Local Trf", "DD to be added"
                        ];
                        nocStatusOptions.forEach(option => { 
                    %>
                        <option value="<%= option %>" <%= task.status_NOC === option ? 'selected' : '' %>><%= option %></option>
                    <% }); %>
                </select>
            </div>
            
            <div class="form-group">
                <label for="buyerName">Buyer Name:</label>
                <input type="text" id="buyerName" name="buyerName" value="<%= task.buyerName %>">
            </div>
            <div class="form-group">
                <label for="buyerNum">Buyer Number:</label>
                <input type="number" id="buyerNum" name="buyerNum" value="<%= task.buyerNum %>">
            </div>
            <div class="form-group">
                <label for="sellerName">Seller Name:</label>
                <input type="text" id="sellerName" name="sellerName" value="<%= task.sellerName %>">
            </div>
            <div class="form-group">
                <label for="sellerNum">Seller Number:</label>
                <input type="number" id="sellerNum" name="sellerNum" value="<%= task.sellerNum %>">
            </div>
            <div class="form-group">
                <label for="buyer_RTO_location">Buyer RTO location:</label>
                <select name="buyer_RTO_location" id="buyerRTO">
                    <option value="" disabled selected>Select RTO Location</option>
                    <% 
                        const buyerRTOOptions = [
                            "UP11_SAHARANPUR", "UP12_MUZAFFARNAGAR", "UP13_BULANDSHAHAR", "UP14_GHAZIABAD", "UP15_MEERUT", 
                            "UP16_GAUTAMBUDHNAGAR", "UP17_BAGHPAT", "UP19_SHAMLI", "UP20_BIJNOR", "UP21_MORADABAD", 
                            "UP22_RAMPUR", "UP23_JYOTIBAPHULE NAGAR (Amroha)", "UP24_BADAUN", "UP25_BAREILLY", "UP26_PILIBHIT", 
                            "UP27_SHAHJAHANPUR", "UP30_HARDOI", "UP31_LAKHIMPUR KHIRI", "UP32_LUCKNOW MAHANAGAR", "UP32_TP NAGAR LUCKNOW", 
                            "UP33_RAEBARELI", "UP34_SITAPUR", "UP35_UNNAO", "UP36_AMETHI", "UP37_HAPUR", 
                            "UP38_SAMBHAL", "UP40_BAHRAICH", "UP41_BARABANKI", "UP42_FAIZABAD", "UP43_GONDA", 
                            "UP44_SULTANPUR", "UP45_AMBEDKAR NAGAR", "UP46_SHRAVASTI", "UP47_BALRAMPUR", "UP50_AZAMGARH", 
                            "UP51_BASTI", "UP52_DEORIA", "UP53_GORAKHPUR", "UP54_MAU", "UP55_SIDDHARTHNAGAR", 
                            "UP56_MAHRAJGANJ", "UP57_PADRAUNA (KRUSHI NAGAR)", "UP58_SANT KABIR NAGAR", "UP60_BALLIA", "UP61_GHAZIPUR", 
                            "UP62_JAUNPUR", "UP63_MIRZAPUR", "UP64_SONBHADRA", "UP65_VARANASI", "UP66_BHADOHI", 
                            "UP67_CHANDAULI", "UP70_ALLAHABAD", "UP71_FATEHPUR", "UP72_PRATAPGARH", "UP73_KAUSHAMBI", 
                            "UP74_KANNAUJ", "UP75_ETAWAH", "UP76_FARRUKHABAD", "UP77_KANPUR DEHAT", "UP78_KANPUR NAGAR", 
                            "UP79_AURAIYA", "UP80_AGRA", "UP81_ALIGARH", "UP82_ETAH", "UP83_FIROZABAD", 
                            "UP84_MAINPURI", "UP85_MATHURA", "UP86_HATHRASH (MAHAMAYA NAGAR)", "UP87_KASHIRAM NAGAR (Kasganj)", 
                            "UP90_BANDA", "UP91_HAMIRPUR", "UP92_JALAUN (Orai)", "UP93_JHANSI", "UP94_LALITPUR", 
                            "UP95_MAHOBA", "UP96_CHITRAKOOT DHAM", "NOT APPLICABLE", "DL-01 Mall Road RTO", "DL-02 Tilak Mark RTO", 
                            "DL-03 Sheikh Sarai RTO", "DL-04 Janakpuri West RTO", "DL-05 Loni Road RTO", "DL-06 Sarai Kale Khan RTO", 
                            "DL-07 Mayur Vihar RTO", "DL-08 Wazirpur RTO", "DL-09 Dwarka RTO", "DL-10 West Delhi RTO", 
                            "DL-11 Rohini RTO", "DL-12 Vasant Vihar RTO", "DL-13 Surajmal Vihar RTO", "DL-14 Surajmal Vihar RTO", 
                            "HR26 - GURGAON","HR36-RIWARI","HR50-HODEL","HR08-KAITHAL","HR06-PANIPAT", "HR13-BAHADURGARH", "HR52-HATIN", "HR10-SONIPAT", "HR51-FARIDABAD", 
                            "HR72-GURGAON SOUTH", "HR76-PATAUDI", "HR07-THANESAR", "HR75-INDRI", "HR19 - CHARKHI DADRI", 
                            "HR29 - BALLABGARH", "HR11  GUHANA", "HR01 - AMBALA", "HR91  GHARAUNDA", "23BH", 
                            "HP12_NALAGARH", "KL74_KATTAKKADA","KA03_Bangalore, Karnataka", "KL68_DEVIKULAM", "TN01_CHENNAI CENTRAL", "TN41_POLACHI", 
                            "TN19_KANCHEEPURAM", "JH04_DUMKA", "MP19_SATNA", "CG04_RAIPUR", "JH05_JAMSHEDPUR", 
                            "MP13_UJJAIN", "RJ45_JAIPUR NORTH", "MP09_INDORE", "MP04_BHOPAL", "RJ19_JODHPUR", 
                            "UK04 - NANITAL", "UK06 - UDHAM SINGH NAGAR", "HR98 - BADSHAPUR GGN", "BR10 - BHAGALPUR", "CH01 - CHANDIGARH", 
                            "RJ55_Pokhran city","KA01_Banglore Central", "KA-13 HASAN",
                            "CG07_Durg Chhattisgarh", "RJ26_TONK CITY", "MP40_Vidisha city", "PB13_SANGRUR", "PB19_BARNALA", 
                            "PB35_PATHANKOT", "PB28_Malerkotla RTO", "PB05_FEROZEPUR","TN49_Thanjavur", "KA14_Shimoga Karnataka", "MP28_Chhindwara", 
                            "TN59_Madurai","GJ-02_MAHESANA", "HR05_KARNAL", "MP07_Gwalior", "PB32_Nawanshahr", "PB78_Shahid Bhagat Singh Nagar", 
                            "BR29_Siwan", "PB03_Bathinda", "PB10_Ludhiana" ,"UK07_Dehradun", "DD to be added"
                        ];
                        buyerRTOOptions.forEach(option => { 
                    %>
                        <option value="<%= option %>" <%= task.buyer_RTO_location === option ? 'selected' : '' %>><%= option %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="seller_RTO_location">Seller RTO location:</label>
                <select name="seller_RTO_location" id="sellerRTO">
                    <option value="" disabled selected>Select RTO Location</option>
                    <% 
                        const sellerRTOOptions = [
                            "UP11_SAHARANPUR", "UP12_MUZAFFARNAGAR", "UP13_BULANDSHAHAR", "UP14_GHAZIABAD", "UP15_MEERUT", 
                            "UP16_GAUTAMBUDHNAGAR", "UP17_BAGHPAT", "UP19_SHAMLI", "UP20_BIJNOR", "UP21_MORADABAD", 
                            "UP22_RAMPUR", "UP23_JYOTIBAPHULE NAGAR (Amroha)", "UP24_BADAUN", "UP25_BAREILLY", "UP26_PILIBHIT", 
                            "UP27_SHAHJAHANPUR", "UP30_HARDOI", "UP31_LAKHIMPUR KHIRI", "UP32_LUCKNOW MAHANAGAR", "UP32_TP NAGAR LUCKNOW", 
                            "UP33_RAEBARELI", "UP34_SITAPUR", "UP35_UNNAO", "UP36_AMETHI", "UP37_HAPUR", 
                            "UP38_SAMBHAL", "UP40_BAHRAICH", "UP41_BARABANKI", "UP42_FAIZABAD", "UP43_GONDA", 
                            "UP44_SULTANPUR", "UP45_AMBEDKAR NAGAR", "UP46_SHRAVASTI", "UP47_BALRAMPUR", "UP50_AZAMGARH", 
                            "UP51_BASTI", "UP52_DEORIA", "UP53_GORAKHPUR", "UP54_MAU", "UP55_SIDDHARTHNAGAR", 
                            "UP56_MAHRAJGANJ", "UP57_PADRAUNA (KRUSHI NAGAR)", "UP58_SANT KABIR NAGAR", "UP60_BALLIA", "UP61_GHAZIPUR", 
                            "UP62_JAUNPUR", "UP63_MIRZAPUR", "UP64_SONBHADRA", "UP65_VARANASI", "UP66_BHADOHI", 
                            "UP67_CHANDAULI", "UP70_ALLAHABAD", "UP71_FATEHPUR", "UP72_PRATAPGARH", "UP73_KAUSHAMBI", 
                            "UP74_KANNAUJ", "UP75_ETAWAH", "UP76_FARRUKHABAD", "UP77_KANPUR DEHAT", "UP78_KANPUR NAGAR", 
                            "UP79_AURAIYA", "UP80_AGRA", "UP81_ALIGARH", "UP82_ETAH", "UP83_FIROZABAD", 
                            "UP84_MAINPURI", "UP85_MATHURA", "UP86_HATHRASH (MAHAMAYA NAGAR)", "UP87_KASHIRAM NAGAR (Kasganj)", 
                            "UP90_BANDA", "UP91_HAMIRPUR", "UP92_JALAUN (Orai)", "UP93_JHANSI", "UP94_LALITPUR", 
                            "UP95_MAHOBA", "UP96_CHITRAKOOT DHAM", "NOT APPLICABLE", "DL-01 Mall Road RTO", "DL-02 Tilak Mark RTO", 
                            "DL-03 Sheikh Sarai RTO", "DL-04 Janakpuri West RTO", "DL-05 Loni Road RTO", "DL-06 Sarai Kale Khan RTO", 
                            "DL-07 Mayur Vihar RTO", "DL-08 Wazirpur RTO", "DL-09 Dwarka RTO", "DL-10 West Delhi RTO", 
                            "DL-11 Rohini RTO", "DL-12 Vasant Vihar RTO","KA03_Bangalore, Karnataka", "DL-13 Surajmal Vihar RTO", "DL-14 Surajmal Vihar RTO", 
                            "HR26 - GURGAON", "HR13-BAHADURGARH", "HR52-HATIN", "HR10-SONIPAT", "HR51-FARIDABAD", 
                            "HR72-GURGAON SOUTH", "HR76-PATAUDI", "HR07-THANESAR","HR36-RIWARI","HR50-HODEL","HR08-KAITHAL","HR06-PANIPAT", "HR75-INDRI", "HR19 - CHARKHI DADRI", 
                            "HR29 - BALLABGARH", "HR11  GUHANA", "HR01 - AMBALA", "HR91  GHARAUNDA", "23BH", 
                            "HP12_NALAGARH", "KL74_KATTAKKADA", "KL68_DEVIKULAM", "TN01_CHENNAI CENTRAL", "TN41_POLACHI", 
                            "TN19_KANCHEEPURAM","GJ-02_MAHESANA", "JH04_DUMKA", "MP19_SATNA", "CG04_RAIPUR", "JH05_JAMSHEDPUR", 
                            "MP13_UJJAIN", "KA01_Banglore Central" , "KA-13 HASAN", "RJ45_JAIPUR NORTH", "MP09_INDORE", "MP04_BHOPAL", "RJ19_JODHPUR", 
                            "UK04 - NANITAL", "UK06 - UDHAM SINGH NAGAR", "HR98 - BADSHAPUR GGN", "BR10 - BHAGALPUR", "CH01 - CHANDIGARH", 
                            "RJ55_Pokhran city", "RJ26_TONK CITY", "MP40_Vidisha city", "PB13_SANGRUR", "PB19_BARNALA", 
                            "PB35_PATHANKOT", "PB28_Malerkotla RTO", "PB05_FEROZEPUR", "KA14_Shimoga Karnataka", "MP28_Chhindwara", 
                            "TN59_Madurai", "HR05_KARNAL", "MP07_Gwalior", "PB32_Nawanshahr", "PB78_Shahid Bhagat Singh Nagar", 
                            "BR29_Siwan", "PB03_Bathinda","UK07_Dehradun", "PB10_Ludhiana" ,"TN49_Thanjavur",
                            "UK07_Dehradun",
                            "PB10_Ludhiana",
                            "CG07_Durg Chhattisgarh",
                            "DD to be added"
                        ];
                        sellerRTOOptions.forEach(option => { 
                    %>
                        <option value="<%= option %>" <%= task.seller_RTO_location === option ? 'selected' : '' %>><%= option %></option>
                    <% }); %>
                </select>
            </div>
            
            <div class="form-group">
                <label for="state">Status:</label>    
                <select id="state" name="state">
                    <option value="" disabled selected>Select</option>
                    <% 
                        const statusOptions = ["Completed", "Pending"];
                        statusOptions.forEach(option => { 
                    %>
                        <option value="<%= option %>" <%= task.state === option ? 'selected' : '' %>><%= option %></option>
                    <% }); %>
                </select>
            </div>
          
            <div class="form-group">
                <label for="sellerPhoto">Upload Seller Photo:</label>
                <input type="file" id="sellerPhoto" name="sellerPhoto" accept="image/*" class="form-control">
            </div>
             
            <div class="form-group">
                <label for="buyerPhoto">Upload Buyer Photo:</label>
                <input type="file" id="buyerPhoto" name="buyerPhoto" accept="image/*">
            </div>
        
            <div class="form-group">
                <label for="sellerDocs">Upload Seller Documents:</label>
                <input type="file" id="sellerDocs" name="sellerDocs" accept=".pdf,.doc,.docx,.txt, .jpeg" multiple>
            </div>
        
            <div class="form-group">
                <label for="buyerDocs">Upload Buyer Documents:</label>
                <input type="file" id="buyerDocs" name="buyerDocs" accept=".pdf,.doc,.docx,.txt, .jpeg" multiple>
            </div> 
            <div class="form-group">
                <label for="carVideo">Upload Car Video:</label>
                <input type="file" id="carVideo" name="carVideo" accept="video/*">
            </div>
        
            <div class="form-group">
                <label for="sellerVideo">Upload Seller Video:</label>
                <input type="file" id="sellerVideo" name="sellerVideo" accept="video/*">
            </div>
        
            <div class="form-group">
                <label for="careOfVideo">Upload Care Of Video:</label>
                <input type="file" id="careOfVideo" name="careOfVideo" accept="video/*">
            </div>
            <div class="form-group">
                <label for="nocReceipt">Upload NOC Receipt:</label>
                <input type="file" id="nocReceipt" name="nocReceipt" accept=".pdf,.doc,.docx,.txt, .jpeg">
            </div>
            <div class="form-group">
                <label for="transferReceipt">Upload Transfer Receipt:</label>
                <input type="file" id="transferReceipt" name="transferReceipt" accept=".pdf,.doc,.docx,.txt, .jpeg">
            </div>
            <div class="form-group">
                <label for="description">Remarks:</label>
                <textarea id="description" name="description" rows="4"><%= task.description %></textarea>
            </div>
            <button type="submit">Update Task</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fileInputs = document.querySelectorAll('input[type="file"]');
    
            fileInputs.forEach(input => {
                input.addEventListener('change', (event) => {
                    const files = event.target.files;
                    for (let i = 0; i < files.length; i++) {
                        if (files[i].size > 20 * 1024 * 1024) { 
                            alert(`The file "${files[i].name}" exceeds the 20 MB limit. Please upload a smaller file.`);
                            event.target.value = ''; 
                            break;
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>