<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: rgb(14, 14, 46);
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
            font-family: "Open Sans", sans-serif;
        }
        .container {
            max-width: 600px;
            width: 90%;
            background: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            text-align: center;
            color: #333;
            margin-top: 0;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .form-group input, .form-group textarea, .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            width: 100%;
            margin-top: 10px;
        }
        button:hover {
            background-color: #0056b3;
        }
        .back-link {
            display: block;
            text-align: center;
            margin-top: 20px; 
            background: #000;
            color: white;
            text-decoration: none;
            font-weight: 400;
            width: 500px;
            padding: 9px;
        }
        .back-link:hover {
            text-decoration: none;
            background: #000;
            color: white;
        }

        @media (max-width: 768px) {
            .container {
                margin: 10px;
            }
        }
    </style>
</head>
<body>
    
    <div class="container">
        
        <a href="javascript:history.back()" class="back-link">Go Back</a>

        <h1>Edit Task</h1>
        <form action="/tasks/edit/<%= task._id %>" method="post"  enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="fileReceivedDate">File Received Date:</label>
                <input type="date" id="fileReceivedDate" name="fileReceivedDate" value="<%= task.fileReceivedDate ? task.fileReceivedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="taskType">Task Type:</label>
                <select name="name" id="taskType">
                        <option value="None">None</option>
                        <option value="SELLER PP PENDING">SELLER PP PENDING</option>
                        <option value="BUYER PP PENDING">BUYER PP PENDING</option>
                        <option value="SELLER CAR SEEN PENDING">SELLER CAR SEEN PENDING</option>
                        <option value="BUYER CAR SEEN PENDING">BUYER CAR SEEN PENDING</option>
                        <option value="NOC TO BE ISSUED">NOC TO BE ISSUED</option>
                        <option value="DOCS PENDING">DOCS PENDING</option>    
                        <option value="CHALLAN PENDING">CHALLAN PENDING</option>
                        <option value="HPA ENDORSEMENT PENDING">HPA ENDORSEMENT PENDING</option>
                        <option value="FILE IN RTO_(No Pendency)">FILE IN RTO_(No Pendency)</option>
                        <option value="FILE TO BE RETURNED">FILE TO BE RETURNED</option>
                        <option value="RTO NOT FUNCTIONING">RTO NOT FUNCTIONING</option>
                        <option value="HSRP NOT UPDATED">HSRP NOT UPDATED</option>
                        <option value="EURO MODIFICATION PENDING">EURO MODIFICATION PENDING</option>
                        <option value="FILE HOLD BY CLIENT">FILE HOLD BY CLIENT</option>
                        <option value="FILE ALLOCATION_PENDING">FILE ALLOCATION PENDING</option>
                        <option value="HPT MAIL PENDING SELLER">HPT MAIL PENDING_SELLER</option>
                        <option value="NOC ISSUED PICKUP PENDING">NOC ISSUED PICKUP PENDING</option>
                        <option value="CAR SEEN PENDING BUYER">CAR SEEN PENDING BUYER</option>
                        <option value="CAR SEEN PENDING SELLER">CAR SEEN PENDING SELLER</option>
                        <option value="SELLER VIDEO LETTER HEAD PENDING">SELLER VIDEO LETTER HEAD PENDING</option>
                        <option value="SELLER DELAY PP">SELLER DELAY PP</option>
                        <option value="BUYER DELAY PP">BUYER DELAY PP</option>
                        <option value="SELLER VIDEO PENDING LHEAD RECEIVED">SELLER VIDEO PENDING LHEAD RECEIVED</option>
                        <option value="STUCK CASE">STUCK CASE</option>
                        <option value="FILE IN TRANSIT">FILE IN TRANSIT</option>
                        <option value="SELLER NOT RESPONDING">SELLER NOT RESPONDING</option>
                        <option value="NOT REACHABLE SWITCH OFF PP PENDING">NOT REACHABLE SWITCH OFF PP PENDING</option>
                        <option value="SELLER NOT ALIGNED FOR PP">SELLER NOT ALIGNED FOR PP</option>
                        <option value="NOT ALIGNED BUYER CAR SEEN">NOT ALIGNED BUYER CAR SEEN</option>
                        <option value="BUYER NOT ALIGNED FOR PP">BUYER NOT ALIGNED FOR PP</option>
                        <option value="CARE OF VIDEO PENDING">CARE OF VIDEO PENDING</option>
                        <option value="SELLER DEATH CASE">SELLER DEATH CASE</option>
                        <option value="WO BUYER CAR VIDEO PENDING">WO BUYER CAR VIDEO PENDING</option>
                        <option value="NOC IN CORRECTION">NOC IN CORRECTION</option>
                        <option value="NO UPDATE APPROVAL PENDING CLIENT">NO UPDATE APPROVAL PENDING CLIENT</option>
                        <option value="BLACKLIST">BLACKLIST</option>
                        <option value="FILE FNT">FILE FNT</option>
                        <option value="TAX PENDING">TAX PENDING</option>
                        <option value="SELLER PP ALIGNED">SELLER PP ALIGNED</option>
                        <option value="BUYER PP ALIGNED">BUYER PP ALIGNED</option>
                        <option value="BUYER CAR SEEN ALIGNED">BUYER CAR SEEN ALIGNED</option>
                        <option value="SELLER VIDEO CALL ALIGNED">SELLER VIDEO CALL ALIGNED</option>
                        <option value="FILE RETURNED">FILE RETURNED</option>
                        <option value="HPA MAIL PENDING BUYER">HPA MAIL PENDING BUYER</option>
                        <option value="CNG CASE">CNG CASE</option>
                        <option value="DD to be added">DD to be added</option>
                </select>
            </div>
            <div class="form-group">
                <label for="carNum">Car Number:</label>
                <input type="text" id="carNum" name="carNum" value="<%= task.carNum %>">
            </div>
            <div class="form-group">
                <label for="clientName">Client Name:</label>
                <input type="text" id="clientName" name="clientName" value="<%= task.clientName %>">
            </div>
            <div class="form-group">
                <label for="caseType">Case Type:</label>
                <input type="text" id="caseType" name="caseType" value="<%= task.caseType %>">
            </div>
            <div class="form-group">
                <label for="hptName">HPT Name:</label>
                <select name="hptName" id="hptName" class="finp">
                    <option value="" disabled selected>Select</option>
                    <option value="None">None</option>
                    <option value="Indusind Bank LTD">Indusind Bank LTD</option>
                    <option value="RBL Bank LTD">RBL Bank LTD</option>
                    <option value="Muthoot Capital Services LTD">Muthoot Capital Services LTD</option>
                    <option value="Capital cars PVT LTD">Capital cars PVT LTD</option>
                    <option value="Punjab National Bank">Punjab National Bank</option>
                    <option value="Tata Capital Limited">Tata Capital Limited</option>
                    <option value="AU Small Finance Bank Limited">AU Small Finance Bank Limited</option>
                    <option value="Bajaj Finance LTD">Bajaj Finance LTD</option>
                    <option value="BANDHAN BANK LTD">BANDHAN BANK LTD</option>
                    <option value="Mahindra & Mahindra Financial Services LTD">Mahindra & Mahindra Financial Services LTD</option>
                    <option value="Vastu finserve India PVT LTD">Vastu finserve India PVT LTD</option>
                    <option value="Piramal Capital & Housing">Piramal Capital & Housing</option>
                    <option value="Poonawalla Fincorp LTD">Poonawalla Fincorp LTD</option>
                    <option value="IDFC First Bank LTD">IDFC First Bank LTD</option>
                    <option value="Bajaj Finserv Limited">Bajaj Finserv Limited</option>
                    <option value="HDB Financial Services LTD">HDB Financial Services LTD</option>
                    <option value="Yes Bank LTD">Yes Bank LTD</option>
                    <option value="AEON CREDIT SERVICES">AEON CREDIT SERVICES</option>
                    <option value="Kotak Mahindra Bank LTD">Kotak Mahindra Bank LTD</option>
                    <option value="Kotak Mahindra Prime LTD">Kotak Mahindra Prime LTD</option>
                    <option value="IDBI Bank LTD">IDBI Bank LTD</option>
                    <option value="State Bank of India">State Bank of India</option>
                    <option value="Axix Bank LTD">Axix Bank LTD</option>
                    <option value="Cholamandalam Investment & Finanace Co.LTD">Cholamandalam Investment & Finanace Co.LTD</option>
                    <option value="Union Bank of India">Union Bank of India</option>
                    <option value="ICICI Bank LTD">ICICI Bank LTD</option>
                    <option value="Shriram Finance Limited">Shriram Finance Limited</option>
                    <option value="Kogta Financial India LTD">Kogta Financial India LTD</option>
                    <option value="Manappuram Finance LTD">Manappuram Finance LTD</option>
                    <option value="Hinduja Leyland Finance LTD">Hinduja Leyland Finance LTD</option>
                    <option value="HDFC Bank LTD">HDFC Bank LTD</option>
                    <option value="Cars24 Financial Services PVT LTD">Cars24 Financial Services PVT LTD</option>
                    <option value="Spinny Capital LTD">Spinny Capital LTD</option>
                    <option value="Bank of Baroda">Bank of Baroda</option>
                    <option value="Hero Fincorp LTD">Hero Fincorp LTD</option>
                    <option value="Bank of Baroda">Bank of Baroda</option>
                    <option value="Toyota bank">Toyota bank</option>
                    <option value="Gulshan bank">Gulshan bank</option>
                    <option value="DD to be added">DD to be added</option>
                </select>
            </div>
            <div class="form-group">
                <label for="chesisnum">Chesis Number:</label>
                <input type="text" name="chesisnum" id="chesisnum" value="<%= task.chesisnum %>">
            </div>
            <div class="form-group">
                <label for="engineNum">Engine Number:</label>
                <input type="text" name="engineNum" id="engineNum" value="<%= task.engineNum %>">
            </div>
            <div class="form-group">
                <label for="sellerAlignedDate">Seller Aligned Date:</label>
                <input type="date" id="sellerAlignedDate" name="sellerAlignedDate" value="<%= task.sellerAlignedDate ? task.sellerAlignedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="buyerAlignedDate">Buyer Aligned Date:</label>
                <input type="date" id="buyerAlignedDate" name="buyerAlignedDate" value="<%= task.buyerAlignedDate ? task.buyerAlignedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="NOCissuedDate">NOC Issued Date:</label>
                <input type="date" id="NOCissuedDate" name="NOCissuedDate" value="<%= task.NOCissuedDate ? task.NOCissuedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="NOCreceivedDate">NOC Received Date:</label>
                <input type="date" id="NOCreceivedDate" name="NOCreceivedDate" value="<%= task.NOCreceivedDate ? task.NOCreceivedDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="courier">Courier done Date:</label>
                <input type="date" name="courier" id="courier" value="<%= task.courier %>">
            </div>
            <div class="form-group">
                <label for="deliverdate">Deliver Date:</label>
                <input type="date" name="deliverdate" id="deliverdate" value="<%=task.deliverdate %>">
            </div>
            <div class="form-group">
                <label for="AdditionalWork">Additional Work:</label>
                <input type="text" id="AdditionalWork" name="AdditionalWork" value="<%= task.AdditionalWork %>">
            </div>
            <div class="form-group">
                <label for="HPA">HPA:</label>
                <select name="HPA" id="HPA" class="finp">
                    <option value="" disabled selected>Select</option>
                    <option value="None">None</option>
                    <option value="Indusind Bank LTD">Indusind Bank LTD</option>
                    <option value="RBL Bank LTD">RBL Bank LTD</option>
                    <option value="Muthoot Capital Services LTD">Muthoot Capital Services LTD</option>
                    <option value="Capital cars PVT LTD">Capital cars PVT LTD</option>
                    <option value="Punjab National Bank">Punjab National Bank</option>
                    <option value="Tata Capital Limited">Tata Capital Limited</option>
                    <option value="AU Small Finance Bank Limited">AU Small Finance Bank Limited</option>
                    <option value="Bajaj Finance LTD">Bajaj Finance LTD</option>
                    <option value="Mahindra & Mahindra Financial Services LTD">Mahindra & Mahindra Financial Services LTD</option>
                    <option value="Vastu finserve India PVT LTD">Vastu finserve India PVT LTD</option>
                    <option value="Piramal Capital & Housing">Piramal Capital & Housing</option>
                    <option value="Poonawalla Fincorp LTD">Poonawalla Fincorp LTD</option>
                    <option value="IDFC First Bank LTD">IDFC First Bank LTD</option>
                    <option value="Bajaj Finserv Limited">Bajaj Finserv Limited</option>
                    <option value="HDB Financial Services LTD">HDB Financial Services LTD</option>
                    <option value="Yes Bank LTD">Yes Bank LTD</option>
                    <option value="AEON CREDIT SERVICES">AEON CREDIT SERVICES</option>
                    <option value="Kotak Mahindra Bank LTD">Kotak Mahindra Bank LTD</option>
                    <option value="Kotak Mahindra Prime LTD">Kotak Mahindra Prime LTD</option>
                    <option value="IDBI Bank LTD">IDBI Bank LTD</option>
                    <option value="State Bank of India">State Bank of India</option>
                    <option value="Axix Bank LTD">Axix Bank LTD</option>
                    <option value="Cholamandalam Investment & Finanace Co.LTD">Cholamandalam Investment & Finanace Co.LTD</option>
                    <option value="Union Bank of India">Union Bank of India</option>
                    <option value="ICICI Bank LTD">ICICI Bank LTD</option>
                    <option value="Shriram Finance Limited">Shriram Finance Limited</option>
                    <option value="Kogta Financial India LTD">Kogta Financial India LTD</option>
                    <option value="Manappuram Finance LTD">Manappuram Finance LTD</option>
                    <option value="Hinduja Leyland Finance LTD">Hinduja Leyland Finance LTD</option>
                    <option value="HDFC Bank LTD">HDFC Bank LTD</option>
                    <option value="Cars24 Financial Services PVT LTD">Cars24 Financial Services PVT LTD</option>
                    <option value="Spinny Capital LTD">Spinny Capital LTD</option>             
                    <option value="Bank of Baroda">Bank of Baroda</option>
                    <option value="BANDHAN BANK LTD">BANDHAN BANK LTD</option>
                    <option value="Hero Fincorp LTD">Hero Fincorp LTD</option>
                    <option value="Toyota bank">Toyota bank</option>
                    <option value="Gulshan bank">Gulshan bank</option>
                    <option value="DD to be added">DD to be added</option>
                </select>
            </div>
            <div class="form-group">
                <label for="transferDate">Transfer Date:</label>
                <input type="date" id="transferDate" name="transferDate" value="<%= task.transferDate ? task.transferDate.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="HandoverDate_RC">RC Handover Date:</label>
                <input type="date" id="HandoverDate_RC" name="HandoverDate_RC" value="<%= task.HandoverDate_RC ? task.HandoverDate_RC.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="HandoverDate_NOC">NOC Handover Date:</label>
                <input type="date" id="HandoverDate_NOC" name="HandoverDate_NOC" value="<%= task.HandoverDate_NOC ? task.HandoverDate_NOC.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="form-group">
                <label for="status_RC">RC status:</label>
                <select name="status_RC" id="status_RC">
                    <option value="" disabled selected>Select</option>
                    <option value="RC Delivered To Client">RC Delivered To Client</option>
                    <option value="RC Pending From RTO Vendor">RC Pending From RTO Vendor</option>
                    <option value="NOC Pending From Vendor">NOC Pending From Vendor</option>
                    <option value="NOC Delivered To Client">NOC Delivered To Client</option>
                    <option value="NOT APPLICABLE">NOT APPLICABLE</option>
                    <option value="RC Received (In Office - NCR)">RC Received (In Office - NCR)</option>
                    <option value="NOC Received (In Office - NCR)">NOC Received (In Office - NCR)</option>
                    <option value="RC Handover To Buyer By Vendor">RC Handover To Buyer By Vendor</option>
                    <option value="RC TRANSFER PENDING YET">RC TRANSFER PENDING YET</option>
                    <option value="RC Handover To Buyer ( By Vahan Help )">RC Handover To Buyer ( By Vahan Help )</option>
                    <option value="RC Received (In Office - LKO)">RC Received (In Office - LKO)</option>
                    <option value="NOC Received (In Office - LKO)">NOC Received (In Office - LKO)</option>
                    <option value="DD to be added">DD to be added</option>
                </select>
            </div>
            <div class="form-group">
                <label for="status_NOC">NOC status:</label>
                <select name="status_NOC" id="status_NOC">
                    <option value="" disabled selected>Select</option>
                    <option value="NOC + RC - Pending From Vendor">NOC + RC - Pending From Vendor</option>
                    <option value="NOC Pending From Vendor">NOC Pending From Vendor</option>
                    <option value="NOC Delivered To The (TO) Vendor">NOC Delivered To The (TO) Vendor</option>
                    <option value="NOC + RC Delivered To The (TO) Vendor">NOC + RC Delivered To The (TO) Vendor</option>
                    <option value="Direct Dispatched From RTO">Direct Dispatched From RTO</option>
                    <option value="NOC Dispatched - In Transit">NOC Dispatched - In Transit</option>
                    <option value="NOT APPLICABLE">NOT APPLICABLE</option>
                    <option value="NOC Return Received for Correction">NOC Return Received for Correction</option>
                    <option value="NOC Returned To The Vendor for Correction">NOC Returned To The Vendor for Correction</option>
                    <option value="NOC Received_In Office">NOC Received_In Office</option>
                    <option value="NOC Delivered By Hand">NOC Delivered By Hand</option>
                    <option value="NOC Delivered To Runner">NOC Delivered To Runner</option>
                                 <!-- New Options -->
                    <option value="NOC RECEIPT PENDING">NOC RECEIPT PENDING</option>
                    <option value="AT_DOCS UPLOAD PENDING">AT_DOCS UPLOAD PENDING</option>
                    <option value="AT_INWARD">AT_INWARD</option>
                    <option value="AT_VERIFICATION">AT_VERIFICATION</option>
                    <option value="AT_APPROVAL">AT_APPROVAL</option>
                    <option value="NOC ISSUED">NOC ISSUED</option>
                    <option value="NOC NOT APPLICABLE_SAME RTO">NOC NOT APPLICABLE_SAME RTO</option>
                    <option value="WRONG RTO NOC ISSUED">WRONG RTO NOC ISSUED</option>
                    <option value="NOC_ALREADY ISSUED BY CLIENT">NOC_ALREADY ISSUED BY CLIENT</option>
                    <option value="NOC_RECEIPT ALREADY ISSUED BY CLIENT">NOC_RECEIPT ALREADY ISSUED BY CLIENT</option>
                    <option value="Case Type Change(16,32,70)-Local Trf">Case Type Change(16,32,70)-Local Trf</option>
                    <option value="NOC Awaiting Approval">NOC Awaiting Approval</option>
                    <option value="NOC In Process">NOC In Process</option>
                    <option value="NOC Approved">NOC Approved</option>
                    <option value="NOC Rejected">NOC Rejected</option>
                    <option value="NOC Pending For Signatures">NOC Pending For Signatures</option>
                    <option value="NOC Sent for Verification">NOC Sent for Verification</option>
                    <option value="NOC Under Review">NOC Under Review</option>
                    <option value="NOC Finalized">NOC Finalized</option>
                    <option value="NOC Document Missing">NOC Document Missing</option>
                    <option value="NOC Expired">NOC Expired</option>
                    <option value="NOC Canceled">NOC Canceled</option>
                    <option value="DD to be added">DD to be added</option>
                </select>
            </div>
            <div class="form-group">
                <label for="buyerName">Buyer Name:</label>
                <input type="text" id="buyerName" name="buyerName" value="<%= task.buyerName %>">
            </div>
            <div class="form-group">
                <label for="buyerNum">Buyer Number:</label>
                <input type="number" id="buyerNum" name="buyerNum" value="<%= task.buyerNum %>">
            </div>
            <div class="form-group">
                <label for="sellerName">Seller Name:</label>
                <input type="text" id="sellerName" name="sellerName" value="<%= task.sellerName %>">
            </div>
            <div class="form-group">
                <label for="sellerNum">Seller Number:</label>
                <input type="number" id="sellerNum" name="sellerNum" value="<%= task.sellerNum %>">
            </div>
            <div class="form-group">
                <label for="buyer_RTO_location">Buyer RTO location:</label>
                <select name="buyer_RTO_location" id="buyerRTO">
                    <option value="" disabled selected>Select RTO Location</option>
                    <option value="UP11_SAHARANPUR">UP11_SAHARANPUR</option>
                    <option value="UP12_MUZAFFARNAGAR">UP12_MUZAFFARNAGAR</option>
                    <option value="UP13_BULANDSHAHAR">UP13_BULANDSHAHAR</option>
                    <option value="UP14_GHAZIABAD">UP14_GHAZIABAD</option>
                    <option value="UP15_MEERUT">UP15_MEERUT</option>
                    <option value="UP16_GAUTAMBUDHNAGAR">UP16_GAUTAMBUDHNAGAR</option>
                    <option value="UP17_BAGHPAT">UP17_BAGHPAT</option>
                    <option value="UP19_SHAMLI">UP19_SHAMLI</option>
                    <option value="UP20_BIJNOR">UP20_BIJNOR</option>
                    <option value="UP21_MORADABAD">UP21_MORADABAD</option>
                    <option value="UP22_RAMPUR">UP22_RAMPUR</option>
                    <option value="UP23_JYOTIBAPHULE NAGAR (Amroha)">UP23_JYOTIBAPHULE NAGAR (Amroha)</option>
                    <option value="UP24_BADAUN">UP24_BADAUN</option>
                    <option value="UP25_BAREILLY">UP25_BAREILLY</option>
                    <option value="UP26_PILIBHIT">UP26_PILIBHIT</option>
                    <option value="UP27_SHAHJAHANPUR">UP27_SHAHJAHANPUR</option>
                    <option value="UP30_HARDOI">UP30_HARDOI</option>
                    <option value="UP31_LAKHIMPUR KHIRI">UP31_LAKHIMPUR KHIRI</option>
                    <option value="UP32_LUCKNOW MAHANAGAR">UP32_LUCKNOW MAHANAGAR</option>
                    <option value="UP32_TP NAGAR LUCKNOW">UP32_TP NAGAR LUCKNOW</option>
                    <option value="UP33_RAEBARELI">UP33_RAEBARELI</option>
                    <option value="UP34_SITAPUR">UP34_SITAPUR</option>
                    <option value="UP35_UNNAO">UP35_UNNAO</option>
                    <option value="UP36_AMETHI">UP36_AMETHI</option>
                    <option value="UP37_HAPUR">UP37_HAPUR</option>
                    <option value="UP38_SAMBHAL">UP38_SAMBHAL</option>
                    <option value="UP40_BAHRAICH">UP40_BAHRAICH</option>
                    <option value="UP41_BARABANKI">UP41_BARABANKI</option>
                    <option value="UP42_FAIZABAD">UP42_FAIZABAD</option>
                    <option value="UP43_GONDA">UP43_GONDA</option>
                    <option value="UP44_SULTANPUR">UP44_SULTANPUR</option>
                    <option value="UP45_AMBEDKAR NAGAR">UP45_AMBEDKAR NAGAR</option>
                    <option value="UP46_SHRAVASTI">UP46_SHRAVASTI</option>
                    <option value="UP47_BALRAMPUR">UP47_BALRAMPUR</option>
                    <option value="UP50_AZAMGARH">UP50_AZAMGARH</option>
                    <option value="UP51_BASTI">UP51_BASTI</option>
                    <option value="UP52_DEORIA">UP52_DEORIA</option>
                    <option value="UP53_GORAKHPUR">UP53_GORAKHPUR</option>
                    <option value="UP54_MAU">UP54_MAU</option>
                    <option value="UP55_SIDDHARTHNAGAR">UP55_SIDDHARTHNAGAR</option>
                    <option value="UP56_MAHRAJGANJ">UP56_MAHRAJGANJ</option>
                    <option value="UP57_PADRAUNA (KRUSHI NAGAR)">UP57_PADRAUNA (KRUSHI NAGAR)</option>
                    <option value="UP58_SANT KABIR NAGAR">UP58_SANT KABIR NAGAR</option>
                    <option value="UP60_BALLIA">UP60_BALLIA</option>
                    <option value="UP61_GHAZIPUR">UP61_GHAZIPUR</option>
                    <option value="UP62_JAUNPUR">UP62_JAUNPUR</option>
                    <option value="UP63_MIRZAPUR">UP63_MIRZAPUR</option>
                    <option value="UP64_SONBHADRA">UP64_SONBHADRA</option>
                    <option value="UP65_VARANASI">UP65_VARANASI</option>
                    <option value="UP66_BHADOHI">UP66_BHADOHI</option>
                    <option value="UP67_CHANDAULI">UP67_CHANDAULI</option>
                    <option value="UP70_ALLAHABAD">UP70_ALLAHABAD</option>
                    <option value="UP71_FATEHPUR">UP71_FATEHPUR</option>
                    <option value="UP72_PRATAPGARH">UP72_PRATAPGARH</option>
                    <option value="UP73_KAUSHAMBI">UP73_KAUSHAMBI</option>
                    <option value="UP74_KANNAUJ">UP74_KANNAUJ</option>
                    <option value="UP75_ETAWAH">UP75_ETAWAH</option>
                    <option value="UP76_FARRUKHABAD">UP76_FARRUKHABAD</option>
                    <option value="UP77_KANPUR DEHAT">UP77_KANPUR DEHAT</option>
                    <option value="UP78_KANPUR NAGAR">UP78_KANPUR NAGAR</option>
                    <option value="UP79_AURAIYA">UP79_AURAIYA</option>
                    <option value="UP80_AGRA">UP80_AGRA</option>
                    <option value="UP81_ALIGARH">UP81_ALIGARH</option>
                    <option value="UP82_ETAH">UP82_ETAH</option>
                    <option value="UP83_FIROZABAD">UP83_FIROZABAD</option>
                    <option value="UP84_MAINPURI">UP84_MAINPURI</option>
                    <option value="UP85_MATHURA">UP85_MATHURA</option>
                    <option value="UP86_HATHRASH (MAHAMAYA NAGAR)">UP86_HATHRASH (MAHAMAYA NAGAR)</option>
                    <option value="UP87_KASHIRAM NAGAR (Kasganj)">UP87_KASHIRAM NAGAR (Kasganj)</option>
                    <option value="UP90_BANDA">UP90_BANDA</option>
                    <option value="UP91_HAMIRPUR">UP91_HAMIRPUR</option>
                    <option value="UP92_JALAUN (Orai)">UP92_JALAUN (Orai)</option>
                    <option value="UP93_JHANSI">UP93_JHANSI</option>
                    <option value="UP94_LALITPUR">UP94_LALITPUR</option>
                    <option value="UP95_MAHOBA">UP95_MAHOBA</option>
                    <option value="UP96_CHITRAKOOT DHAM">UP96_CHITRAKOOT DHAM</option>
                    <option value="NOT APPLICABLE">NOT APPLICABLE</option>
                    <option value="DL-01 Mall Road RTO">DL-01 Mall Road RTO</option>
                    <option value="DL-02 Tilak Mark RTO">DL-02 Tilak Mark RTO</option>
                    <option value="DL-03 Sheikh Sarai RTO">DL-03 Sheikh Sarai RTO</option>
                    <option value="DL-04 Janakpuri West RTO">DL-04 Janakpuri West RTO</option>
                    <option value="DL-05 Loni Road RTO">DL-05 Loni Road RTO</option>
                    <option value="DL-06 Sarai Kale Khan RTO">DL-06 Sarai Kale Khan RTO</option>
                    <option value="DL-07 Mayur Vihar RTO">DL-07 Mayur Vihar RTO</option>
                    <option value="DL-08 Wazirpur RTO">DL-08 Wazirpur RTO</option>
                    <option value="DL-09 Dwarka RTO">DL-09 Dwarka RTO</option>
                    <option value="DL-10 West Delhi RTO">DL-10 West Delhi RTO</option>
                    <option value="DL-11 Rohini RTO">DL-11 Rohini RTO</option>
                    <option value="DL-12 Vasant Vihar RTO">DL-12 Vasant Vihar RTO</option>
                    <option value="DL-13 Surajmal Vihar RTO">DL-13 Surajmal Vihar RTO</option>
                    <option value="DL-14 Surajmal Vihar RTO">DL-14 Surajmal Vihar RTO</option>
                    <option value="HR26 - GURGAON">HR26 - GURGAON</option>
                    <option value="HR13-BAHADURGARH">HR13-BAHADURGARH</option>
                    <option value="HR52-HATIN">HR52-HATIN</option>
                    <option value="HR10-SONIPAT">HR10-SONIPAT</option>
                    <option value="HR51-FARIDABAD">HR51-FARIDABAD</option>
                    <option value="HR72-GURGAON SOUTH">HR72-GURGAON SOUTH</option>
    <option value="HR76-PATAUDI">HR76-PATAUDI</option>
    <option value="HR07THANESAR">HR07THANESAR</option>
    <option value="HR75-INDRI">HR75-INDRI</option>
    <option value="HR19 - CHARKHI DADRI">HR19 - CHARKHI DADRI</option>
    <option value="HR29 - BALLABGARH">HR29 - BALLABGARH</option>
    <option value="HR11  GUHANA">HR11  GUHANA</option>
    <option value="HR01 - AMBALA">HR01 - AMBALA</option>
    <option value="HR91  GHARAUNDA">HR91  GHARAUNDA</option>
    <option value="23BH">23BH</option>
    <option value="HP12_NALAGARH">HP12_NALAGARH</option>
    <option value="KL74_KATTAKKADA">KL74_KATTAKKADA</option>
    <option value="KL68_DEVIKULAM">KL68_DEVIKULAM</option>
    <option value="TN01_CHENNAI CENTRAL">TN01_CHENNAI CENTRAL</option>
    <option value="TN41_POLACHI">TN41_POLACHI</option>
    <option value="JH04_DUMKA">JH04_DUMKA</option>
    <option value="MP19_SATNA">MP19_SATNA</option>
    <option value="CG04_RAIPUR">CG04_RAIPUR</option>
    <option value="JH05_JAMSHEDPUR">JH05_JAMSHEDPUR</option>
    <option value="MP13_UJJAIN">MP13_UJJAIN</option>
    <option value="RJ45_JAIPUR NORTH">RJ45_JAIPUR NORTH</option>
    <option value="MP09_INDORE">MP09_INDORE</option>
    <option value="MP04_BHOPAL">MP04_BHOPAL</option>
    <option value="RJ19_JODHPUR">RJ19_JODHPUR</option>
    <option value="UK04 - NANITAL">UK04 - NANITAL</option>
    <option value="UK06 - UDHAM SINGH NAGAR">UK06 - UDHAM SINGH NAGAR</option>
    <option value="HR98 - BADSHAPUR GGN">HR98 - BADSHAPUR GGN</option>
    <option value="BR10 - BHAGALPUR">BR10 - BHAGALPUR</option>
    <option value="CH01 - CHANDIGARH">CH01 - CHANDIGARH</option>
    <option value="RJ55_Pokhran city">RJ55_Pokhran city</option>
    <option value="RJ26_TONK CITY">RJ26_TONK CITY</option>
    <option value="MP40_Vidisha city">MP40_Vidisha city</option>
    <option value="PB13_SANGRUR">PB13_SANGRUR</option>
    <option value="PB19_BARNALA">PB19_BARNALA</option>
    <option value="PB35_PATHANKOT">PB35_PATHANKOT</option>
    <option value="PB28_Malerkotla RTO">PB28_Malerkotla RTO</option>
    <option value="PB05_FEROZEPUR">PB05_FEROZEPUR</option>
    <option value="KA14_Shimoga Karnataka">KA14_Shimoga Karnataka</option>
    <option value="MP28_Chhindwara">MP28_Chhindwara</option>
    <option value="TN59_Madurai">TN59_Madurai</option>
    <option value="HR05_KARNAL">HR05_KARNAL</option>
    <option value="MP07_Gwalior">MP07_Gwalior</option>
    <option value="PB32_Nawanshahr">PB32_Nawanshahr</option>
    <option value="PB78_Shahid Bhagat Singh Nagar">PB78_Shahid Bhagat Singh Nagar</option>
    <option value="BR29_Siwan">BR29_Siwan</option>
    
<option value="PB03_Bathinda">PB03 Bathinda</option>
<option value="DD to be added">DD to be added</option>
                </select>
            </div>
            <div class="form-group">
                <label for="seller_RTO_location">Seller RTO location:</label>
                <select name="seller_RTO_location" id="sellerRTO">
                    <option value="" disabled selected>Select RTO Location</option>
                    <option value="UP11_SAHARANPUR">UP11_SAHARANPUR</option>
                    <option value="UP12_MUZAFFARNAGAR">UP12_MUZAFFARNAGAR</option>
                    <option value="UP13_BULANDSHAHAR">UP13_BULANDSHAHAR</option>
                    <option value="UP14_GHAZIABAD">UP14_GHAZIABAD</option>
                    <option value="UP15_MEERUT">UP15_MEERUT</option>
                    <option value="UP16_GAUTAMBUDHNAGAR">UP16_GAUTAMBUDHNAGAR</option>
                    <option value="UP17_BAGHPAT">UP17_BAGHPAT</option>
                    <option value="UP19_SHAMLI">UP19_SHAMLI</option>
                    <option value="UP20_BIJNOR">UP20_BIJNOR</option>
                    <option value="UP21_MORADABAD">UP21_MORADABAD</option>
                    <option value="UP22_RAMPUR">UP22_RAMPUR</option>
                    <option value="UP23_JYOTIBAPHULE NAGAR (Amroha)">UP23_JYOTIBAPHULE NAGAR (Amroha)</option>
                    <option value="UP24_BADAUN">UP24_BADAUN</option>
                    <option value="UP25_BAREILLY">UP25_BAREILLY</option>
                    <option value="UP26_PILIBHIT">UP26_PILIBHIT</option>
                    <option value="UP27_SHAHJAHANPUR">UP27_SHAHJAHANPUR</option>
                    <option value="UP30_HARDOI">UP30_HARDOI</option>
                    <option value="UP31_LAKHIMPUR KHIRI">UP31_LAKHIMPUR KHIRI</option>
                    <option value="UP32_LUCKNOW MAHANAGAR">UP32_LUCKNOW MAHANAGAR</option>
                    <option value="UP32_TP NAGAR LUCKNOW">UP32_TP NAGAR LUCKNOW</option>
                    <option value="UP33_RAEBARELI">UP33_RAEBARELI</option>
                    <option value="UP34_SITAPUR">UP34_SITAPUR</option>
                    <option value="UP35_UNNAO">UP35_UNNAO</option>
                    <option value="UP36_AMETHI">UP36_AMETHI</option>
                    <option value="UP37_HAPUR">UP37_HAPUR</option>
                    <option value="UP38_SAMBHAL">UP38_SAMBHAL</option>
                    <option value="UP40_BAHRAICH">UP40_BAHRAICH</option>
                    <option value="UP41_BARABANKI">UP41_BARABANKI</option>
                    <option value="UP42_FAIZABAD">UP42_FAIZABAD</option>
                    <option value="UP43_GONDA">UP43_GONDA</option>
                    <option value="UP44_SULTANPUR">UP44_SULTANPUR</option>
                    <option value="UP45_AMBEDKAR NAGAR">UP45_AMBEDKAR NAGAR</option>
                    <option value="UP46_SHRAVASTI">UP46_SHRAVASTI</option>
                    <option value="UP47_BALRAMPUR">UP47_BALRAMPUR</option>
                    <option value="UP50_AZAMGARH">UP50_AZAMGARH</option>
                    <option value="UP51_BASTI">UP51_BASTI</option>
                    <option value="UP52_DEORIA">UP52_DEORIA</option>
                    <option value="UP53_GORAKHPUR">UP53_GORAKHPUR</option>
                    <option value="UP54_MAU">UP54_MAU</option>
                    <option value="UP55_SIDDHARTHNAGAR">UP55_SIDDHARTHNAGAR</option>
                    <option value="UP56_MAHRAJGANJ">UP56_MAHRAJGANJ</option>
                    <option value="UP57_PADRAUNA (KRUSHI NAGAR)">UP57_PADRAUNA (KRUSHI NAGAR)</option>
                    <option value="UP58_SANT KABIR NAGAR">UP58_SANT KABIR NAGAR</option>
                    <option value="UP60_BALLIA">UP60_BALLIA</option>
                    <option value="UP61_GHAZIPUR">UP61_GHAZIPUR</option>
                    <option value="UP62_JAUNPUR">UP62_JAUNPUR</option>
                    <option value="UP63_MIRZAPUR">UP63_MIRZAPUR</option>
                    <option value="UP64_SONBHADRA">UP64_SONBHADRA</option>
                    <option value="UP65_VARANASI">UP65_VARANASI</option>
                    <option value="UP66_BHADOHI">UP66_BHADOHI</option>
                    <option value="UP67_CHANDAULI">UP67_CHANDAULI</option>
                    <option value="UP70_ALLAHABAD">UP70_ALLAHABAD</option>
                    <option value="UP71_FATEHPUR">UP71_FATEHPUR</option>
                    <option value="UP72_PRATAPGARH">UP72_PRATAPGARH</option>
                    <option value="UP73_KAUSHAMBI">UP73_KAUSHAMBI</option>
                    <option value="UP74_KANNAUJ">UP74_KANNAUJ</option>
                    <option value="UP75_ETAWAH">UP75_ETAWAH</option>
                    <option value="UP76_FARRUKHABAD">UP76_FARRUKHABAD</option>
                    <option value="UP77_KANPUR DEHAT">UP77_KANPUR DEHAT</option>
                    <option value="UP78_KANPUR NAGAR">UP78_KANPUR NAGAR</option>
                    <option value="UP79_AURAIYA">UP79_AURAIYA</option>
                    <option value="UP80_AGRA">UP80_AGRA</option>
                    <option value="UP81_ALIGARH">UP81_ALIGARH</option>
                    <option value="UP82_ETAH">UP82_ETAH</option>
                    <option value="UP83_FIROZABAD">UP83_FIROZABAD</option>
                    <option value="UP84_MAINPURI">UP84_MAINPURI</option>
                    <option value="UP85_MATHURA">UP85_MATHURA</option>
                    <option value="UP86_HATHRASH (MAHAMAYA NAGAR)">UP86_HATHRASH (MAHAMAYA NAGAR)</option>
                    <option value="UP87_KASHIRAM NAGAR (Kasganj)">UP87_KASHIRAM NAGAR (Kasganj)</option>
                    <option value="UP90_BANDA">UP90_BANDA</option>
                    <option value="UP91_HAMIRPUR">UP91_HAMIRPUR</option>
                    <option value="UP92_JALAUN (Orai)">UP92_JALAUN (Orai)</option>
                    <option value="UP93_JHANSI">UP93_JHANSI</option>
                    <option value="UP94_LALITPUR">UP94_LALITPUR</option>
                    <option value="UP95_MAHOBA">UP95_MAHOBA</option>
                    <option value="UP96_CHITRAKOOT DHAM">UP96_CHITRAKOOT DHAM</option>
                    <option value="NOT APPLICABLE">NOT APPLICABLE</option>
                    <option value="DL-01 Mall Road RTO">DL-01 Mall Road RTO</option>
                    <option value="DL-02 Tilak Mark RTO">DL-02 Tilak Mark RTO</option>
                    <option value="DL-03 Sheikh Sarai RTO">DL-03 Sheikh Sarai RTO</option>
                    <option value="DL-04 Janakpuri West RTO">DL-04 Janakpuri West RTO</option>
                    <option value="DL-05 Loni Road RTO">DL-05 Loni Road RTO</option>
                    <option value="DL-06 Sarai Kale Khan RTO">DL-06 Sarai Kale Khan RTO</option>
                    <option value="DL-07 Mayur Vihar RTO">DL-07 Mayur Vihar RTO</option>
                    <option value="DL-08 Wazirpur RTO">DL-08 Wazirpur RTO</option>
                    <option value="DL-09 Dwarka RTO">DL-09 Dwarka RTO</option>
                    <option value="DL-10 West Delhi RTO">DL-10 West Delhi RTO</option>
                    <option value="DL-11 Rohini RTO">DL-11 Rohini RTO</option>
                    <option value="DL-12 Vasant Vihar RTO">DL-12 Vasant Vihar RTO</option>
                    <option value="DL-13 Surajmal Vihar RTO">DL-13 Surajmal Vihar RTO</option>
                    <option value="DL-14 Surajmal Vihar RTO">DL-14 Surajmal Vihar RTO</option>
                    <option value="HR26 - GURGAON">HR26 - GURGAON</option>
                    <option value="HR13-BAHADURGARH">HR13-BAHADURGARH</option>
                    <option value="HR52-HATIN">HR52-HATIN</option>
                    <option value="HR10-SONIPAT">HR10-SONIPAT</option>
                    <option value="HR51-FARIDABAD">HR51-FARIDABAD</option>
                    <option value="HR72-GURGAON SOUTH">HR72-GURGAON SOUTH</option>
    <option value="HR76-PATAUDI">HR76-PATAUDI</option>
    <option value="HR07THANESAR">HR07THANESAR</option>
    <option value="HR75-INDRI">HR75-INDRI</option>
    <option value="HR19 - CHARKHI DADRI">HR19 - CHARKHI DADRI</option>
    <option value="HR29 - BALLABGARH">HR29 - BALLABGARH</option>
    <option value="HR11  GUHANA">HR11  GUHANA</option>
    <option value="HR01 - AMBALA">HR01 - AMBALA</option>
    <option value="HR91  GHARAUNDA">HR91  GHARAUNDA</option>
    <option value="23BH">23BH</option>
    <option value="HP12_NALAGARH">HP12_NALAGARH</option>
    <option value="KL74_KATTAKKADA">KL74_KATTAKKADA</option>
    <option value="KL68_DEVIKULAM">KL68_DEVIKULAM</option>
    <option value="TN01_CHENNAI CENTRAL">TN01_CHENNAI CENTRAL</option>
    <option value="TN41_POLACHI">TN41_POLACHI</option>
    <option value="JH04_DUMKA">JH04_DUMKA</option>
    <option value="MP19_SATNA">MP19_SATNA</option>
    <option value="CG04_RAIPUR">CG04_RAIPUR</option>
    <option value="JH05_JAMSHEDPUR">JH05_JAMSHEDPUR</option>
    <option value="MP13_UJJAIN">MP13_UJJAIN</option>
    <option value="RJ45_JAIPUR NORTH">RJ45_JAIPUR NORTH</option>
    <option value="MP09_INDORE">MP09_INDORE</option>
    <option value="MP04_BHOPAL">MP04_BHOPAL</option>
    <option value="RJ19_JODHPUR">RJ19_JODHPUR</option>
    <option value="UK04 - NANITAL">UK04 - NANITAL</option>
    <option value="UK06 - UDHAM SINGH NAGAR">UK06 - UDHAM SINGH NAGAR</option>
    <option value="HR98 - BADSHAPUR GGN">HR98 - BADSHAPUR GGN</option>
    <option value="BR10 - BHAGALPUR">BR10 - BHAGALPUR</option>
    <option value="CH01 - CHANDIGARH">CH01 - CHANDIGARH</option>
    <option value="RJ55_Pokhran city">RJ55_Pokhran city</option>
    <option value="RJ26_TONK CITY">RJ26_TONK CITY</option>
    <option value="MP40_Vidisha city">MP40_Vidisha city</option>
    <option value="PB13_SANGRUR">PB13_SANGRUR</option>
    <option value="PB19_BARNALA">PB19_BARNALA</option>
    <option value="PB35_PATHANKOT">PB35_PATHANKOT</option>
    <option value="PB28_Malerkotla RTO">PB28_Malerkotla RTO</option>
    <option value="PB05_FEROZEPUR">PB05_FEROZEPUR</option>
    <option value="KA14_Shimoga Karnataka">KA14_Shimoga Karnataka</option>
    <option value="MP28_Chhindwara">MP28_Chhindwara</option>
    <option value="TN59_Madurai">TN59_Madurai</option>
    <option value="HR05_KARNAL">HR05_KARNAL</option>
    <option value="MP07_Gwalior">MP07_Gwalior</option>
    <option value="PB32_Nawanshahr">PB32_Nawanshahr</option>
    <option value="PB78_Shahid Bhagat Singh Nagar">PB78_Shahid Bhagat Singh Nagar</option>
    <option value="BR29_Siwan">BR29_Siwan</option>
    
<option value="PB03_Bathinda">PB03 Bathinda</option>
<option value="DD to be added">DD to be added</option>
                </select>
            </div>
            <div class="form-group">
                <label for="state">Status:</label>    
                <select id="state" name="state">
                    <option value="true" <%= task.state ? 'selected' : '' %>>Completed</option>
                    <option value="false" <%= !task.state ? 'selected' : '' %>>Pending</option>
                    <option value="false" <%= !task.state ? 'selected' : '' %>>Party peshi delay from Buyer</option>
                    <option value="false" <%= !task.state ? 'selected' : '' %>>Party peshi delay from Seller</option>
                    <option value="false" <%= !task.state ? 'selected' : '' %>>RC PENDING</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sellerPhoto">Upload Seller Photo:</label>
                <input type="file" id="sellerPhoto" name="sellerPhoto" accept="image/*">
            </div>
        
            <div class="form-group">
                <label for="buyerPhoto">Upload Buyer Photo:</label>
                <input type="file" id="buyerPhoto" name="buyerPhoto" accept="image/*">
            </div>
        
            <div class="form-group">
                <label for="sellerDocs">Upload Seller Documents:</label>
                <input type="file" id="sellerDocs" name="sellerDocs" accept=".pdf,.doc,.docx,.txt, .jpeg" multiple>
            </div>
        
            <div class="form-group">
                <label for="buyerDocs">Upload Buyer Documents:</label>
                <input type="file" id="buyerDocs" name="buyerDocs" accept=".pdf,.doc,.docx,.txt, .jpeg" multiple>
            </div>
        
            <div class="form-group">
                <label for="carVideo">Upload Car Video:</label>
                <input type="file" id="carVideo" name="carVideo" accept="video/*">
            </div>
        
            <div class="form-group">
                <label for="sellerVideo">Upload Seller Video:</label>
                <input type="file" id="sellerVideo" name="sellerVideo" accept="video/*">
            </div>
        
            <div class="form-group">
                <label for="careOfVideo">Upload Care Of Video:</label>
                <input type="file" id="careOfVideo" name="careOfVideo" accept="video/*">
            </div>
        
            <div class="form-group">
                <label for="nocReceipt">Upload NOC Receipt:</label>
                <input type="file" id="nocReceipt" name="nocReceipt" accept=".pdf,.doc,.docx,.txt">
            </div>
            <div class="form-group">
                <label for="transferReceipt">Upload Transfer Receipt:</label>
                <input type="file" id="transferReceipt" name="transferReceipt" accept=".pdf,.doc,.docx,.txt">
            </div>
            <div class="form-group">
                <label for="description">Remarks:</label>
                <textarea id="description" name="description" rows="4"><%= task.description %></textarea>
            </div>
            <button type="submit">Update Task</button>
        </form>
    </div>
</body>
</html>
