<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance - VAHAN HELP</title>
</head>
<body>
    <h1>Finance</h1>
    <table border="1">
        <thead>
            <tr>
                <!-- <th>Task ID</th> -->
                <!-- <th>Company</th> -->
                <th>Car number</th>
                <th>Client Name</th>
                <th>Case type</th>
                <th>Task type</th>
                <th>Seller agent</th>
                <th>Buyer agent</th>
                <th>Cost</th>
                <th>Sale</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <% tasks.forEach(task => { %>
                <tr>
                    <!-- <td><%= task._id %></td>
                    <td><%= task.company %></td> -->
                    <td><%= task.carNum %></td>
                    <td><%= task.clientName %></td>
                    <td><%= task.caseType %></td> 
                    <td><%= task.name %></td>
                    <td><%= task.task1agentname %></td>
                    <td><%= task.task2agentname %></td>
                    <td>
                        <ul>
                            <% Object.keys(task.cost).forEach(field => { %>
                                <li><%= field %>: <%= task.cost[field] %></li>
                            <% }) %>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <% Object.keys(task.sale).forEach(field => { %>
                                <li><%= field %>: <%= task.sale[field] %></li>
                            <% }) %>
                        </ul>
                    </td>
                    <td>
                        <a href="/finance/<%= task._id %>/edit">Edit</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>
